@use "variables" as v;
@use "mixins" as m;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  scroll-behavior: smooth;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: v.$pages_bg;
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
.wrapper {
  @include m.d-flex(normal, normal, column);
  min-height: 100%;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1)

}
.main {
  flex: 1 0 auto;
  position: relative;
}
.footer {
  flex: 0 0 auto;
}
.container {
  padding-inline: 21.094%;
}

.breadcrumbs {
  font-size: 16px;
  width: 100vw;
  background: #dfdfdf80;
  height: 5.5rem;
position: absolute;
display: inline-flex;
align-items: center;
z-index: 2;
  &__link {
    font-family: v.$openSans_r;
    font-size: 0.875em;
    line-height: 2.8rem;
    color: v.$color_font-footer;
  }
}
