<footer class="footer">
    <div class="footer__inner">
        <div class="container">
            <div class="footer__contacts">
                <h6>Contact Us</h6>
                <p>Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>

                <a href="mailto:#"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#envelope"></use>
                    </svg>ouremailaddress@email.com</a>

                <form action="#" class="form">
                    <input class="form__email" type="email" placeholder="Subscribe by email">
                    <button class="form__button" type="button">Send</button>
                </form>
            </div>
            <div class="footer__social">
                <a href="#" class="footer__social--link"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#facebook"></use>
                    </svg>Facebook</a>
                <a href="#" class="footer__social--link"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#instagram"></use>
                    </svg>Instagram</a>
                <a href="#" class="footer__social--link"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#pinterest"></use>
                    </svg>Pinterest</a>
                <a href="#" class="footer__social--link"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#whatsapp"></use>
                    </svg>WhatsApp</a>
                <a href="#" class="footer__social--link"><svg class="footer__svg">
                        <use href="../images/dist/sprite.svg#youtube"></use>
                    </svg>Youtube</a>
            </div>
            <div class="footer__links">
                <a href="#">FAQ</a>
                <a href="#">Help</a>
                <a href="#">Delivery</a>
                <a href="#">More About Us</a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>© Artem Kukin 2024. All Rights Reserved.</p>
        </div>
    </div>
</footer>