<main class="main">
    <div class="breadcrumbs">
        <div class="container">
            <a class="breadcrumbs__link" href="./index.html">Home / Gallery</a>
        </div>
    </div>
    <section class="gallery-section">
        <div class="container">
            <div class="gallery__tags">
                <div class="gallery__tags__item">Bedroom furniture</div>
                <div class="gallery__tags__item">Living room furniture</div>
                <div class="gallery__tags__item">Office furniture</div>
                <div class="gallery__tags__item">Dining room futniture</div>
                <div class="gallery__tags__item">Chair</div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-row">
                <img class="gallery-row__item" src="../images/dist/gallery-6.jpg" alt="chair">
                <img class="gallery-row__item" src="../images/dist/gallery-2.jpg" alt="chair">
                <img class="gallery-row__item" src="../images/dist/gallery-7.jpg" alt="chair">
                <img class="gallery-row__item" src="../images/dist/placeholder-5.jpg" alt="chair">
                <img class="gallery-row__item" src="../images/dist/gallery-8.jpg" alt="chair">
            </div>
            <div class="gallery-row-revers">
                <img class="gallery-row-revers__item" src="../images/dist/gallery-9.jpg" alt="chair">
                <img class="gallery-row-revers__item" src="../images/dist/placeholder.jpg" alt="chair">
                <img class="gallery-row-revers__item" src="../images/dist/placeholder-6.png" alt="chair">
                <img class="gallery-row-revers__item" src="../images/dist/placeholder-3.jpg" alt="chair">
                <img class="gallery-row-revers__item" src="../images/dist/gallery-1.jpg" alt="chair">
            </div>
        </div>
    </section>
</main>