<header class="header">
    <div class="container">
        <nav class="header__nav nav">
            <a class="nav__item" href="./about.html">About</a>
            <a class="nav__item" href="./gallery.html">Gallery</a>
            <div class="nav__item--img">
                <img src="./images/dist/logo.png" alt="logo">
            </div>
            <a class="nav__item" href="./blog.html">Blog</a>
            <a class="nav__item" href="./contact.html">Contact</a>
            <div class="mobile"></div>
        </nav>
    </div>
</header>